{{ define "main" }}
  {{/* Dynamic Section Loading System */}}
  {{ $sections := .Site.Params.layout.sections | default (slice 
    "hero" 
    "services" 
    "about" 
    "testimonials" 
    "blog" 
    "contact"
  )}}
  
  {{ range $sections }}
    {{ $sectionName := . }}
    {{ $sectionConfig := index $.Site.Params $sectionName }}
    
    {{ if ne $sectionConfig.enabled false }}
      {{ $partialName := printf "%s.html" $sectionName }}
      {{ partial $partialName $ }}
    {{ end }}
  {{ end }}
{{ end }}
